.carousel-bg-first {
  background-color: aquamarine;
  height: 420px;
}

.carousel-bg-second {
  background-color: orchid;
  height: 420px;
}

.carousel-bg-third {
  background-color: lightblue;
  height: 420px;
}

.carousel-bg-fourth {
  background-color: lightcoral;
  height: 420px;
}
