.about-topBanner {
  height: 380px;
  background-color: blueviolet;
}

.about-wrapper {
  margin: auto;
  width: 80%;
  margin-top: 40px;
}

.about-images {
  /* background-color: black; */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.about-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 40px;
  padding-left: 70px !important;
  padding-right: 70px !important;
  /* line-height: 28px; */
}

.about-description{
  font-size: 14px;
  margin-top: 80px;
  /* padding-left: 70px !important;
  padding-right: 70px !important; */
}

.about-content-studio {
  /* background-color: burlywood; */
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 70px !important;
  padding-right: 70px !important;
  /* padding-left: 40px; */
  /* padding-right: 40px; */

}

.about-content-me {
  /* background-color: burlywood; */
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: 70px !important;
  padding-right: 70px !important; */
  /* padding-left: 40px; */
  /* padding-right: 40px; */

}

.about-socialMedia {
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
}

.about-socialMedia-icon {
  padding-left: 8px;
}

.about-socialMedia svg {
  height: 24px;
  width: 24px;
}
