.product-page-wrapper {
  margin: auto;
  margin-bottom: 72px;
  margin-top: 72px;
  width: 80%;
}

.product-page-wrapper .ant-btn{
  border-radius: 0px;
  /* transition: none; */
}

.productScreen-btnAddToCart .ant-btn-default:hover{
  color: black !important;
  border-color:orange !important;
  border: 1.8px solid orange;
  /* transition: none; */
}

.product-col-wrapper1 {
  margin-top: 40px;
  width: 408px;
  /* background-color: rgb(244, 244, 244); */
}

.product-col-wrapper2 {
  margin-left: 20px;
}

.product-col-wrapper1-row2 {
  margin-left: 100px;
  margin-top: 76px;
  width: 408px;
}

/* .product-col-wrapper1-row1 {
  margin-left: 10px;
} */

.product-col-wrapper1-row2-col {
  text-align: center;
}

.product-description {
  margin-top: 30px;
}

.product-images {
  margin-bottom: 20px;
}

.productScreen-verticalSpacing{
 margin: 20px;
}

.product-page-wrapper .ant-typography+h5.ant-typography{
margin-top: none;
}

.productScreen-imageWrapper{
  width: 100px;
  height: 100px;
  position: relative;
}

.image1,
.image2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.image2 {
  font-size: 60px;
  font-weight: 700;
  color: rgb(236, 12, 12);
  margin-top: 120px;
  margin-left: 80px;
  z-index: 10;
  transform: rotate(-24deg);
}

.product-page-carousal{
  height: 180px;
  border: 1px solid black;
  margin-bottom: 40px;
}